:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.flex-container {
  background-color: #f9fbfc;
  padding: 60px 30px;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.vibrants {
  font-size: 20px;
  color: #83c727;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 30px;
}

.managements {
  font-size: 25px;
  font-weight: 600;
  color: #004b2f;
  text-align: center;
  margin-bottom: 40px;
}

.allCards {
  display: flex;
  gap: 44px;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 30px;
  
  
}
.firstCard{
  margin-left:-400px;
  padding: 10px 10px;

  
}
.firstCard,
.thirdCard {
  display: flex;
  background-color: #ffffff;
  border: 1px solid #dce6f0;
  border-radius: 16px;
  padding: 25px;
  width: 400px;
  transition: box-shadow 0.3s ease;
}

.firstCard:hover,
.secondCard:hover,
.thirdCard:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.hp1  {
  font-size: 12px;
  line-height: 1.6;
  text-align: left;
}

.secondCard {
  background-color: #67629d;
  border: 1px solid #dce6f0;
  color: white;
  border-radius: 16px;
  padding: 25px;
  width: 350px;
  height: 220px;
  transition: box-shadow 0.3s ease;
  margin-left: -70px;
  
}
.thirdCard{
  margin-top: -260px;
  margin-left: 750px;
  width: 350px;
  height: 220px;
  
  
}


.thirdCard-image {
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: px;
}
.secondCard-image2{
   width: 44px;
  height: 42px;
  margin-bottom: 8px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: -5px;
  margin-left: -5px;
}
.image2-p1{
  margin-top:-42px ;
  margin-left: 50px;
  font-size:18px;
  line-height:100%

  
}
.image2-p2{
  margin-top:40px;
  margin-left:-5px;
  font-family:'Times New Roman', Times, serif;
  font-size: 15px;
  font-weight: 100;
}
.img1-p1{
  margin-top:-30px;
  margin-left:70px ;
  
}
.img1-p2{
  margin-top:25px;
  margin-left:-5px ;
  font-family:'Times New Roman', Times, serif;
   font-size: 14px;
}
.img3-p1{
  margin-top:-50px;
  margin-left:70px;
  font-size: 14px;
}
.img3-p2{
margin-top:20px;
  margin-left:-5px;
  font-size: 12px;
}

